@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: "Akira Expanded";
  src: url("/fonts/AkiraExpanded.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.font-dmSans{
  font-family: var(--font-dmSans);
}

.font-blackHanSans{
  font-family: var(--font-blackHanSans);
}


.font-might-makes-right {
  font-family: "Might Makes Right BB", system-ui, sans-serif;
}

.font-akira-expanded {
  font-family: "Akira Expanded";
}

#box {
  color: black;
}

/* Hide scrollbar while keeping scroll behavior */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
